{
  "env": {
    "cjs": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }],
        "stage-3",
        "react"
      ],
      "plugins": []
    },
    "es": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-3",
        "react"
      ],
      "plugins": []
    },
    "umd": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-3",
        "react"
      ],
      "plugins": []
    },
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }],
        "stage-3",
        "react"
      ],
      "plugins": []
    }
  },
  "comments": false
}