{
  "env": {
    "cjs": {
      "presets": [
        "env",
        "stage-3",
        "react"
      ],
      "plugins": []
    }
  },
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-3",
    "react"
  ],
  "plugins": []
}
